#HappyDayPageForm
{
    position: absolute;
    left: 5%;
    top: 10%;
    height: 20%;
    width: 90%;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 15px rgb(99, 99, 99);
    border-radius: 5px;
}

#HappyDayPageStatus
{
    background-color: white;
    position: absolute;
    top: 10%;
    width: 29%;
    height: 80%;
    left: 0.5%;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 5px;
}

#HappyDayPageTableDay
{
    position: absolute;
    top: 44%;
    background-color: tomato;
    border: 1px solid black;
}

#test
{
    background-color: tomato;
    border: 1px solid black;
}