#NewsAppletForm
{
    position: absolute;
    top: 25%;
    border: 1px double red;
    color: red;
    left: 59%;
    height: 56%;
    width: 39%;
}

#NewsAppletFormHeader
{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 255, 149, 0.144);
}

#NewsAppletFormHeaderLabelUser
{
    width: 100%;
    position: absolute;
    text-align: right;
    
}