#Denk
{
    z-index: 1;
    position: absolute;
    background-color: aqua;
    top: 10%;
}

#NewEvent
{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 30%;
    height: 50%;
    background-color: rgb(133, 103, 161);
}

#NewEventHeadLabel
{
    position: absolute;
    background-color: rgb(255, 150, 150);
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 20px;
}
#NewEventDate
{
    position: absolute;
    top: 27%;
    width: 98%;
    text-align: center;
}
#NewEventDateState
{
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center; 
}

#NewEventNameState
{
    position: absolute;
    top: 28%;
    width: 100%;
    text-align: center;
}

#NewEventNameText
{
    position: absolute;
    top: 48%;
    width: 98%;
    height: 8%;
    text-align: center;
}

#NewEventColorText
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

#NewEventColor
{
    position: absolute;
    top: 70%;
    width: 98%;
    text-align: center;
}

#NewEventSubmitNew
{
    position: absolute;
    top: 82%;
    width: 30%;
    left: 35%;
}

#DeleteEvent
{
    position: absolute;
    top: 80%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.007);
}

#DeleteEvent
{
    top: 65%;
    background-color: white;
    position: absolute;
    right: 2%;
    width: 30%;
    height: 28%;    
}

#DeleteEventInfo
{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 15px;    
    background-color: rgba(0, 17, 255, 0.281);
}

#DeleteEventNameEvent
{
    position: absolute;
    top: 15%;
    width: 100%;
    height: 23%;
    text-align: left;
    font-size: 15px;    
    background-color: rgba(0, 225, 255, 0.836);
}

#DeleteEventDate
{
    position: absolute;
    top: 36%;
    width: 100%;
    height: 23%;
    text-align: left;
    font-size: 15px;    
    background-color: rgba(195, 0, 255, 0.836);
}

#DeleteEventQuest
{
    position: absolute;
    top: 59%;
    width: 100%;
    height: 23%;
    text-align: left;
    font-size: 15px;    
    background-color: rgba(255, 0, 149, 0.836);
}

#DeleteEventCheck
{
    position: absolute;
    top: 63%;
    width: 12%;
    height: 12%;  
    right: 0%;
    background-color: rgba(255, 0, 149, 0.836);
}

#DeleteEventButtonDelete
{
    position: absolute;
    top: 83%;
    width: 22%;
    right: 0%;
}